html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Custom CSS */

/* * {
    box-sizing: border-box;
} */

h1 {
    font-size: 3rem;
}

.background {
    background: url("assets/background.jpg");
    background-size: cover;
    table-layout: fixed;
    border-spacing: 0;
}

.background td {
    padding: 0;
}

.lava {
    background-color: #f5df2e;
    background-image: linear-gradient(315deg, #f5df2e 0%, #f07654 74%);
    border-radius: 20px;
}

.wall {
    background: #cc5500;
    border: 1px solid black;
}

.actor {
    position: absolute;
}

.coin {
    background-image: linear-gradient(315deg, #f5df2e 0%, #face09 74%);
    border-radius: 35%;
}

.player {
    /* background: rgb(64, 64, 64); */
    background: url("./assets/mario.png") no-repeat;
    background-size: 1.86rem;
}

.lost .player {
    background: rgb(160, 64, 64);
}

.won .player {
    box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

.game {
    overflow: hidden;
    max-width: 600px;
    max-height: 450px;
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}